<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gra w zgadywanie liczb 3</title>
</head>
<body>
    <p>{{ info }}</p>
    <form method="POST">
        <input type="submit" name="button" value="Too small">
        <input type="submit" name="button" value="Too big">
        <input type="submit" name="button" value="You win!">
        <input type="hidden" name="minimum" value="minimum">
        <input type="hidden" name="maximum" value="maximum">
        <input type="hidden" name="guess" value="guess">
    </form>
</body>
</html>